@font-face {
  font-family: 'Burbank Big';
  src: local('Burbank Big'), url(./BurbankBigCondensed-Black.otf) format('opentype');
}

body {
  margin: 0;
  font-family: 'Burbank Big Condensed'
    sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
